.container1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
}
.box{
    /* border: 2px solid red; */
    margin-right: 15px;
    background-color: seashell;
    box-shadow: 5px 5px 5px rgb(245, 113, 124);
}

.name{
    box-shadow: 3px 3px rgb(248, 116, 116), -1em 0 .4em rgb(223, 240, 243);
    /* padding: 20px; */
    background-color: #fdfdfd;
    color: rgb(6, 14, 128);
    text-shadow: 1px 1px 2px rgb(98, 243, 212), 0 0 1em rgb(240, 239, 200), 0 0 0.2em rgb(255, 222, 220);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
@media  (max-width : 576px){
    .container1{
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */
    }
}